.two-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left:5% ;
}
.stat{
    margin-top: 5%;
    width: 290%;
    min-height:850px;
    
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.valide{
    margin: 15px 15px 15px 15px;
    min-height:100px;
    box-shadow:0 1px 1px 0 rgba(0,0,0,.24),0 10px 10px 0 rgba(0,0,0,.19);
}
    .hr{
        height:2px;
        margin:60px 0 50px 0;
        background:rgba(255,255,255,.2);
    }
    .zui-table {
        border: solid 1px #DDEEEE;
        border-collapse: collapse;
        border-spacing: 0;
        font: normal 13px Arial, sans-serif;
        width: 100%;
    }
    .zui-table thead th {
        background-color: #DDEFEF;
        border: solid 1px #DDEEEE;
        color: #336B6B;
        padding: 10px;
        text-align: left;
        text-shadow: 1px 1px 1px #fff;
    }
    .zui-table tbody td {
        border: solid 1px #DDEEEE;
        height: 20px;
        color: #333;
        padding: 10px;
        text-shadow: 1px 1px 1px #fff;
    }
    tbody tr:hover {
        background-color: #f2f2f2;
        cursor: default;
      }
      .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        cursor: pointer;
        margin-left: 30%;
      }
      .button1{
        background-color: #204722; /* Green */
        border-radius: 10px / 20px;
        color: white;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        margin-left: 80%;
      }
      